@use '../helpers' as *;
.hero{
    background-color: var(--color-dark,0.3);
     
    background-size: cover;    
    aspect-ratio: 1920/ 1080;
    .hero__inner{
        padding-top: 15%;
        padding-bottom: 10%;
        height: 100%;
    }
 

}